<p><a class="btn btn-success btn-lg" href="https://bitbucket.org/yurakovalev/veeam" target="_blank"><?php echo $this->translate('Код проекта на bitbucket.org') ?> &raquo;</a></p>

<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Поиск вакансий') ?></h3>
            </div>
            <div class="panel-body">
                <form method="post" action="/">
                    <p>
                        <select name="departmentId" class="selectpicker" data-live-search="true">
                            <?php foreach ($this->departments as $department) { ?>
                                <option <?php if ($department->getId() == $this->departmentId) { ?>selected <?php } ?>value="<?php echo $department->getId(); ?>"><?php echo $department->getTitle(); ?></option>
                            <?php } ?>
                        </select>
                        <select name="langId" class="selectpicker" data-live-search="true">
                            <?php foreach ($this->langs as $lang) { ?>
                                <option <?php if ($lang->getId() == $this->langId) { ?>selected <?php } ?>value="<?php echo $lang->getId(); ?>"><?php echo $lang->getId(); ?></option>
                            <?php } ?>
                        </select>
                    </p>
                    <p>
                        <a class="btn btn-default pull-left" href="/">&laquo; <?php echo $this->translate('Сбросить фильтр') ?></a>
                        <input type="submit" name="submit" class="btn btn-success pull-right" value="<?php echo $this->translate('Найти вакансии') ?> &raquo;" \>
                    </p>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Список вакансий') ?></h3>
            </div>
            <div class="panel-body">
                <p>
                    <?php if (!count($this->result)) { ?>
                        <?php echo $this->translate('Ничего не найдено!'); ?>
                    <?php } else { ?>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Отдел</th>
                                <th>Название вакансии</th>
                                <th>Описание</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($result as $item) { ?>
                            <tr>
                                <td><?php echo $item['id']; ?></td>
                                <td><?php echo $item['department_title']; ?></td>
                                <td><?php echo $item['vacancy_title']; ?></td>
                                <td><?php echo $item['vacancy_description']; ?></td>
                            </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                    <?php } ?>
                </p>
            </div>
        </div>
    </div>

</div>
